.vscode/*
proto/*
!proto/*.proto
!proto/*.bzl
!proto/BUILD.bazel
**/build/*

debian/.debhelper/*
debian/debhelper-build-stamp
debian/files
debian/libdashapi.substvars
debian/libdashapi

# Bazel
bazel-*
MODULE.bazel.lock